@import url("S-Core-Dream-light/s-core-dream.css");

/*

1. s-core-dream-thin 2. s-core-dream-extralight 3. s-core-dream-light 4. s-core-dream-regular 5. s-core-dream-medium 6. s-core-dream-bold 7. s-core-dream-extrabold 8. s-core-dream-heavy 9. s-core-dream-black 

*/


/* body, h1, h2, h3, h4, h5, h6, li, p,#nav li a, #topbar, input, button, select, textarea, a, .wf-container > *, .widget-title, .dwqa-container, #wpmem_reg, #wpmem_login {     font-family: "s-core-dream-light", sans-serif !important; font-size: 16px; color: #303030; } */

html {
  overflow: hidden;
  letter-spacing: -2px;
}
a {
  text-decoration: none;
  color: #000;
}

/* MAIN CONTAINER */
.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.image img {
  height: 100vh;
  cursor: pointer;
}

/* TITLE WRAP */
.title-wrap {
  position: absolute;
  text-align: right;
  top: 20%;
  right: 10%;
}
.bold{
  font-size: 4rem;
  font-family: "s-core-dream-extrabold", sans-serif !important;
  color: #F36A24;
}
.light {
  font-size: 4rem;
  font-family: "s-core-dream-extralight", sans-serif !important;
  color: #F36A24;
  margin-top: -50px;
}
.in-btn {
  width: 250px;
  height: 60px;
  background-color: rgba(#000, #000, #000, 0.2);
  border-radius: 10px;
  border: solid 1px #58595B;
  color: #58595B;
  font-family: "s-core-dream-bold", sans-serif !important;
  letter-spacing: 10px;
  font-size: 1.6rem;
  margin-top: -50px;
}

/* SUM WRAP */
.sum-wrap {
  position: relative;
  text-align: left;
  top: 50%;
  left: 0%;
}
.date-title {
  background-image: url(../img/date.svg);
  background-size: cover;
  background-position: left;
  width: 1000px;
  height: 50px;
}


/* 반응형 */

/* 1025 to 1540 LAPTOP */
@media (min-width: 1025px) and (max-width: 1540px) {

  
} 
/* 768 to 1024 TABLET */
@media (min-width: 768px) and (max-width: 1024px) {

  
}
/* 0 to 767px MOBILE */
@media (max-width: 768px) {

}   